<div id="<%= dom_id stock_in %>">
  <p>
    <strong>Stock item:</strong>
    <%= stock_in.stock_item_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= stock_in.qty %>
  </p>

  <p>
    <strong>Qty type:</strong>
    <%= stock_in.qty_type_id %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= stock_in.cost %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= stock_in.total %>
  </p>

</div>
