<%= simple_form_for(@user,:html => {:class=>'form-horizontal',:multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-md-7 ms-lg-5">
    <%= f.input :user_name %>
    <%= f.input :email, :as => :hidden, :input_html => { :value => "email@placer.com" } %>
    <%= f.input :password %>
    <%= f.input :password_confirmation,label: 'Confirm Password' %>
    <%# <%= f.association :roles ,collection: Role.all %>
  </div>

  <div class="panel-footer" >
    <%= link_to 'Back', users_path ,class:'btn btn-sm btn-default'%>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
