
<div class="card">
  <div class="card-header">
    <h3 class="card-title"> Company types</h3>
    <div class="card-tools">
      <%= link_to "New Company type", new_company_type_path, class: 'btn btn-sm btn-primary' %>



    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">

  <table class=" dtable table table-striped table-bordered table-hover table-sm table-ligh shadow-sm">
    <thead>
      <tr>
     	  
        <th>Name</th>
        
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @company_types.each do |company_type| %>
        <%= content_tag :tr, id: dom_id(company_type), class: dom_class(company_type) do %>
           
            <td><%= company_type.name %></td>
          
          <td>
              <%# <%= link_to "Detail",company_type, class: 'btn btn-sm btn-primary'   %>

              <%= link_to "Edit" ,edit_company_type_path(company_type), class: 'btn btn-sm btn-info'   %>

              <%= button_to "Delete", company_type_path(company_type), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: 'btn btn-sm btn-danger'  %>

                </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>

