
<div class="card">
  <div class="card-header">
    <h3 class="card-title"> Roles</h3>
    <div class="card-tools">
      <%= link_to "New Role", new_role_path, class: 'btn btn-sm btn-primary' %>



    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">

  <table class=" dtable table table-striped table-bordered table-hover table-sm table-ligh shadow-sm">
    <thead>
      <tr>
     	  
        <th>Name</th>
        
        <th width="20%"> </th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
        <%= content_tag :tr, id: dom_id(role), class: dom_class(role) do %>
           
            <td><%= role.name %></td>
          
          <td>
              <%= link_to "Detail",role, class: 'btn btn-sm btn-primary'   %>

              <%= link_to "Edit" ,edit_role_path(role), class: 'btn btn-sm btn-info'   %>

              <%= button_to "Delete", role_path(role), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: 'btn btn-sm btn-danger'  %>

                </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>

