<div id="<%= dom_id stock_out %>">
  <p>
    <strong>Stock item:</strong>
    <%= stock_out.stock_item_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= stock_out.qty %>
  </p>

  <p>
    <strong>Qty type:</strong>
    <%= stock_out.qty_type_id %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= stock_out.cost %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= stock_out.total %>
  </p>

</div>
