
<div class="card">
  <div class="card-header">
    <h3 class="card-title"> Locations</h3>
    <div class="card-tools">
      <% if current_user.role == "Admin" %><%= link_to "New Location", new_location_path, class: 'btn btn-sm btn-primary' %><% end %>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">

  <table class=" dtable table table-striped table-bordered table-hover table-sm table-ligh shadow-sm">
    <thead>
      <tr>
     	  
        <th>Name</th>
        
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <%= content_tag :tr, id: dom_id(location), class: dom_class(location) do %>
           
            <td><%= location.name %></td>
          
          <td>
              <%# <%= link_to "Detail",location, class: 'btn btn-sm btn-primary'   %>

              <% if current_user.role == "Admin" %>
                <%= link_to "Edit" ,edit_location_path(location), class: 'btn btn-sm btn-info'   %>

                <%= button_to "Delete", location_path(location), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: 'btn btn-sm btn-danger'  %>
              <% end %>
                </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>

